# Set Theory

This code activity will try to guide you in applying the concepts, methods, and rules of Set Theory through code. We will go through with the data types in which Set Theory can be applied, how to write them in equation form im $\LaTeX$, and then we will try to look at a practical example through a user's requirement.

### Lists

In Python,  the most common iterable collection are lists. In lists, elements are ordered and chageable. Lists are denoted by enclosing objects with square brackets $[ ... ]$. Lists can be accessed through their indices, negative indexing is permitted.

In [ ]:
### Declaration
employees = ['John', 'Alex', 'Winston', 'Bob', 'Golbi'] ## Best practice when making a list of objects, list variable names should be in plural form

In [ ]:
### Single Access
employees[-2]

In [ ]:
### Multiple Access
employees[::-1]

In [ ]:
### Multiple Access via Loops
for employee in employees: ## To make coding a bit more intuitive, we use the singular form of the list variable name to denote its elements.
    print("Hi ",employee)

In [ ]:
### Multiple Access via Loops

for i in range(len(employees)): ## You could also use indices for iterations.
    if(i%2 == 0):
        print(employees[i])

In [ ]:
### Modifying Elements
employees[3] = 'John'
employees[-1] = 'Jimmy'
print(employees)

In [ ]:
### Adding Elements
# employees.append("Elfaba")

employees.insert(2, "Ozai")
print(employees)

In [ ]:
### Removing Elements
# employees.pop() 

# employees.remove("Ozai")

# del employees[-1]

employees.clear()
employees

### Tuples

Tuples are another collection data type in Python. There are several key differences between lists and tuples:
- Tuples are ordered collections, so order cannot be rearranged or modified.
- Since tuples are ordered collections $(a, b) \neq (b, a)$
- They are declared and denoted using parentheses $( ...)$

In [ ]:
### Declaration
pix1_colors = (255, 0 , 0)  ## In image processing, this is called a tuple consisting of channels. 
                            ##It is structured as (Red, Green, Blue) such that the values in each channe; ranges from 0 - 255 
pix2_colors = (64, 128, 111)

In [ ]:
### Single Access
green = pix2_colors[1]
green

In [ ]:
pix1_colors[2] = 128

In [ ]:
### Multiple Access
pix2_colors[::2]

In [ ]:
### Multiple Access via Loops
for color in pix2_colors:
    print(color)

In [ ]:
car_xpos = (3, 5, 12, 15)
car_ypos = (0, 1, 5, 2)
### Multiple Access via Parallel Iteration
for pos in zip(car_xpos, car_ypos):
    print(f'Coordinates of cars in ordered pair form: {pos}')

In [ ]:
for px_colors in zip(pix1_colors, pix2_colors):
    print(px_colors)

In [ ]:
### Modifying Elements

car_xpos[0] = 0

In [ ]:
### Removing Elements

del pix1_colors[0]

In [ ]:
### Merging Tuples
car_pos = car_xpos + car_ypos
car_pos

### Sets

Sets are collections which are unordered and unindexed. Repititions are not allowed in set structures and they are denoted by curly brackets $\{ ... \}$.

In [4]:
### Declaration
bakery_A = {'bread', 'cracker', 'croissant', 'eclair', 'parfait','cannele', 'coffee','tea'}
bakery_B = {'bread', 'croissant', 'donuts', 'cinnamon roll', 'cookies','coffee','tea'}
bakery_C = {'bread', 'bread', 'bread'}

In [7]:
print(bakery_C)

{'bread'}

In [2]:
### Accessing Elements
bakery_A[0]

TypeError: 'set' object is not subscriptable

In [3]:
### Multiple Access via Loops
for product in bakery_A:
    print(product)

bread
coffee
cracker
eclair
croissant
cannele
tea
parfait

In [8]:
### Removing an Element
print(bakery_A)
bakery_A.remove('cannele')
print(bakery_A)

{'bread', 'coffee', 'cracker', 'eclair', 'croissant', 'cannele', 'tea', 'parfait'}
{'bread', 'coffee', 'cracker', 'eclair', 'croissant', 'tea', 'parfait'}

In [15]:
### Membership
# print('cannele' in bakery_A)
### Subsets
order = {'coffee', 'tea', 'donuts'}
order.issubset(bakery_A)

False

In [17]:
### Union
print(bakery_A)
print(bakery_B)
baker_st = bakery_A.union(bakery_B)
baker_st

{'bread', 'coffee', 'cracker', 'eclair', 'croissant', 'tea', 'parfait'}
{'cookies', 'bread', 'coffee', 'cinnamon roll', 'croissant', 'tea', 'donuts'}

{'bread',
 'cinnamon roll',
 'coffee',
 'cookies',
 'cracker',
 'croissant',
 'donuts',
 'eclair',
 'parfait',
 'tea'}

In [18]:
### Intersection
bakery_A.intersection(bakery_B)

{'bread', 'coffee', 'croissant', 'tea'}

In [20]:
### Difference
### Unique elements that is in Bakery but not in Bakery B
bakery_B.difference(bakery_A)

{'cinnamon roll', 'cookies', 'donuts'}

### Dictionaries

Dictionaries are collections which is unordered, changeable like sets but are indexed. Like sets, they are denoted witn $\{...\}$ but objects are characterized by <b>keys</b> and described using <b>values</b>.

In [21]:
### Declaration
bakery_A_prices = {'bread' : 60, 
            'cracker': 15, 
            'croissant': 40, 
           }

In [22]:
## Accessing
bakery_A_prices['bread']

60

In [23]:
## Accessing via Loops
for product in bakery_A_prices:
    print(product)

bread
cracker
croissant

In [24]:
for product in bakery_A_prices:
    print(bakery_A_prices[product])

60
15
40

In [25]:
for price in bakery_A_prices.values():
    print(price)

60
15
40

In [26]:
for product, price in bakery_A_prices.items():
    print(product, price)

bread 60
cracker 15
croissant 40

In [28]:
## Update / Modification
print(bakery_A_prices['bread'])
bakery_A_prices['bread'] *= 0.8
print(bakery_A_prices['bread'])

48.0
38.400000000000006

In [29]:
## Adding Elements
print(bakery_A_prices)
bakery_A_prices['coffee'] = 110
print(bakery_A_prices)

{'bread': 38.400000000000006, 'cracker': 15, 'croissant': 40}
{'bread': 38.400000000000006, 'cracker': 15, 'croissant': 40, 'coffee': 110}

In [31]:
## Removing Elements
print(bakery_A_prices)
print(bakery_A_prices.pop('cracker'))
print(bakery_A_prices)

{'bread': 38.400000000000006, 'cracker': 15, 'croissant': 40, 'coffee': 110}
15
{'bread': 38.400000000000006, 'croissant': 40, 'coffee': 110}

## Dataset Operations

For this section, we will use the sets below to practice some practical dataset operations.

In [32]:
cpe_courses = ["Object-Oriented Programming", "Data Structures and Algorithms", "Discrete Mathematics", "Linear Algebra",
               "Database Management","Logic Circuits", "Computer Automation","Digital Signals Processing", "Computer System Architecture and Organization"]
cs_courses = ["Object-Oriented Programming", "Data Structures and Algorithms", "Automata", "Programming Language Theory",
             "Discrete Mathematics", "Database Management", "Human Computer Interaction", "Information Security", "Information Management"]

In [35]:
cpe = set(cpe_courses)
cs = set(cs_courses)

### Inner Join

In [40]:
## Find the common things between the sets
## Intersection
common = cpe.intersection(cs)
common ## inner join

{'Data Structures and Algorithms',
 'Database Management',
 'Discrete Mathematics',
 'Object-Oriented Programming'}

### Left Join

In [41]:
cpe_ljoin = common.union(cpe)
cpe_ljoin

{'Computer Automation',
 'Computer System Architecture and Organization',
 'Data Structures and Algorithms',
 'Database Management',
 'Digital Signals Processing',
 'Discrete Mathematics',
 'Linear Algebra',
 'Logic Circuits',
 'Object-Oriented Programming'}

### Right Join

In [42]:
cs_rjoin = common.union(cs)
cs_rjoin

{'Automata',
 'Data Structures and Algorithms',
 'Database Management',
 'Discrete Mathematics',
 'Human Computer Interaction',
 'Information Management',
 'Information Security',
 'Object-Oriented Programming',
 'Programming Language Theory'}

### Left Exclusive Join

In [45]:
cpe_exljoin = cpe.difference(cs)
cpe_exljoin

{'Computer Automation',
 'Computer System Architecture and Organization',
 'Digital Signals Processing',
 'Linear Algebra',
 'Logic Circuits'}

### Right Exclusive Join

In [46]:
cs_exrjoin = cs.difference(cpe)
cs_exrjoin

{'Automata',
 'Human Computer Interaction',
 'Information Management',
 'Information Security',
 'Programming Language Theory'}

### Full Outer Join

In [47]:
## Union
full_outer = cpe.union(cs)
full_outer

{'Automata',
 'Computer Automation',
 'Computer System Architecture and Organization',
 'Data Structures and Algorithms',
 'Database Management',
 'Digital Signals Processing',
 'Discrete Mathematics',
 'Human Computer Interaction',
 'Information Management',
 'Information Security',
 'Linear Algebra',
 'Logic Circuits',
 'Object-Oriented Programming',
 'Programming Language Theory'}

### Full Outer Exclusive Join

In [48]:
## XOR
full_xouter = (cpe.difference(cs)).union(cs.difference(cpe))
full_xouter

{'Automata',
 'Computer Automation',
 'Computer System Architecture and Organization',
 'Digital Signals Processing',
 'Human Computer Interaction',
 'Information Management',
 'Information Security',
 'Linear Algebra',
 'Logic Circuits',
 'Programming Language Theory'}

## Scratch Area (Only for 201815069)

Coder: James Matthew Luyon        

Motto: while(!(IsNotYetSucceed = tryAndtry())):
            print("Try lang ng try :D")

# FOR CODING SETS (SET THEORY)

This is how I used different join methods using my Fandom.

In [3]:
pokemon_sg1 = ["eevee","pickachu","baulbasaur","charmander","squirtle","mew-two","arceus","zapdos","moltres","articuno"]
pokemon_sg2 = ["eevee","chicorita","cyndaquil","totodile","arceus","ho-oh","lugia"] 

lord_of_the_rings = ["Gandalf","Bilbo","Frodo","Sam","Aragorn","Gimli","Legolas"]
the_hobbits = ["Gandalf","Bilbo","Thorin","Balin","Kili","Fili","Gloin"]

wizards_1 = ["Harry","Hermione","Ron","Snape","Dumbledore"]
wizards_2 = ["Dumbledore","Newt","Grindelwald","Credence"]

In [4]:
psg1 = set(pokemon_sg1)
psg2 = set(pokemon_sg2)

lotr = set(lord_of_the_rings)
th = set(the_hobbits)

w1 = set(wizards_1)
w2 = set(wizards_2)

# inner join (Fandoms)

In [15]:
'''
To see the intersection of the other sets just add '#'(from the previous declared output variable) and remove '#'(from the 
declared output variable you want to see the output), because it will only execute and printed-out the last line of the code.
''' 
 
common1 = psg1.intersection(psg2) 
common2 = lotr.intersection(th)
common3 = w1.intersection(w2)

common1 
#common2
#common3

{'arceus', 'eevee'}

# left join (Fandoms)

In [23]:
'''
To see the left join of the other sets just add '#'(from the previous declared output variable) and remove '#'(from the 
declared output variable you want to see the output), because it will only execute and printed-out the last line of the code.
'''

psg1_ljoin = common1.union(psg1)
lotr_ljoin = common2.union(lotr)
w1_ljoin = common3.union(w1)

psg1_ljoin
#lotr_ljoin
#w1_ljoin

{'arceus',
 'articuno',
 'baulbasaur',
 'charmander',
 'eevee',
 'mew-two',
 'moltres',
 'pickachu',
 'squirtle',
 'zapdos'}

# right join (Fandoms)

In [24]:
'''
To see the right join of the other sets just add '#'(from the previous declared output variable) and remove '#'(from the 
declared output variable you want to see the output), because it will only execute and printed-out the last line of the code.
'''

psg2_rjoin = common1.union(psg2)
th_rjoin = common2.union(th)
w2_rjoin = common3.union(w2)

psg2_rjoin
#th_rjoin
#w2_rjoin

{'arceus', 'chicorita', 'cyndaquil', 'eevee', 'ho-oh', 'lugia', 'totodile'}

# left exclusive join (Fandoms)

In [28]:
'''
To see the left exclusive join of the other sets just add '#'(from the previous declared output variable) and remove '#'(from the 
declared output variable you want to see the output), because it will only execute and printed-out the last line of the code.
'''

psg1_lexljoin = psg1.difference(psg2)
lotr_lexljoin = lotr.difference(th)
w1_lexljoin = w1.difference(w2)

psg1_lexljoin
#lotr_lexljoin
#w1_lexljoin

{'articuno',
 'baulbasaur',
 'charmander',
 'mew-two',
 'moltres',
 'pickachu',
 'squirtle',
 'zapdos'}

# right exclusive join (Fandoms)

In [35]:
'''
To see the right exclusive join of the other sets just add '#'(from the previous declared output variable) and remove '#'(from the 
declared output variable you want to see the output), because it will only execute and printed-out the last line of the code.
'''

psg2_rexljoin = psg2.difference(psg1)
th_rexljoin = th.difference(lotr)
w2_rexljoin = w2.difference(w1)

psg2_rexljoin
#th_rexljoin
#w2_rexljoin

{'chicorita', 'cyndaquil', 'ho-oh', 'lugia', 'totodile'}

# full outer join (Fandoms)

In [37]:
'''
I just put all of them together so that no one is left behind lols kidding aside.....

Note: 
To see the full outer join of the other sets separately just remove '#'(from the line of code you want to execute)
'''
# f_outer1 = psg1.union(psg2)
# f_outer2 = lotr.union(th) 
# f_outer3 = w1.union(w2)
# f_outer1
# f_outer2
# f_outer3

full_outer_ofAllSets = psg1.union(psg2,lotr,th,w1,w2)
full_outer_ofAllSets

{'Aragorn',
 'Balin',
 'Bilbo',
 'Credence',
 'Dumbledore',
 'Fili',
 'Frodo',
 'Gandalf',
 'Gimli',
 'Gloin',
 'Grindelwald',
 'Harry',
 'Hermione',
 'Kili',
 'Legolas',
 'Newt',
 'Ron',
 'Sam',
 'Snape',
 'Thorin',
 'arceus',
 'articuno',
 'baulbasaur',
 'charmander',
 'chicorita',
 'cyndaquil',
 'eevee',
 'ho-oh',
 'lugia',
 'mew-two',
 'moltres',
 'pickachu',
 'squirtle',
 'totodile',
 'zapdos'}

# full outer exclusive join (Fandoms)

In [42]:
'''
This also called the exclusive disjunction or XOR.....
I just failed to prove that in midterm exam lols cos I got mental block and Sabaw, well can't turn back in time but the thing
is atleast we try lols. So moving on the sample...

Note:
To see the full outer exclusive join of the other sets just add '#'(from the previous declared output variable) and remove '#'(from the 
declared output variable you want to see the output), because it will only execute and printed-out the last line of the code.

'''

f_xouter1 = (psg1.difference(psg2)).union(psg2.difference(psg1))
f_xouter2 = (lotr.difference(th)).union(th.difference(lotr))
f_xouter3 = (w1.difference(w2)).union(w2.difference(w1))

f_xouter1
#f_xouter2
#f_xouter3

{'articuno',
 'baulbasaur',
 'charmander',
 'chicorita',
 'cyndaquil',
 'ho-oh',
 'lugia',
 'mew-two',
 'moltres',
 'pickachu',
 'squirtle',
 'totodile',
 'zapdos'}

# FOR USING OTHER FUNCTION JUST FOR PRACTICE

In [49]:
# It works for the index
pokemon_sg2[5]

'ho-oh'

In [50]:
# Yeeeess It works for the inseting character/string
pokemon_sg2.insert(2,"AkoDinPokemon")
print(pokemon_sg2)

['eevee', 'chicorita', 'AkoDinPokemon', 'cyndaquil', 'totodile', 'arceus', 'ho-oh', 'lugia']

In [51]:
# Well if this line of codes works for the indexes and inserting another characters therefore, it can also delete and modify
# the data from the list and that's all thank you for reading my comments and seeing ny line of codes hope you did great today.